<footer id="footers">
  <div class="inners">
    <div class="head">
      <div class="logo">
        <img src="./img/footer.logo.png" alt="" />

        <div class="etc">
          <a href="">쁘띠시네 회사소개</a>
          <a href="">이용약관 소개</a>
          <a href="">개인처리방침</a>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="addr">
        주소 : 서울시 성동구 아차산로 17길 57 휴먼데코 306호
      </div>
      <br class="mobile" />
      (주)유유코리아 |대표 : 김현수 | 사업자번호 : 201-86-05446 | 통신판매업번호
      : 2021-서울성동-00121
      <br class="mobile" />
      개인정보보호 책임자 : 이동규 | 전산문의 : 070-5227-2519 | EMAIL :
      peticine@yuyukorea.com
      <br />
      <span class="copy">COPYRIGHT © Dtryx Inc. All rights reserved</span>
    </div>
  </div>
</footer>
