<div id="header" class="">
  <div class="inner">
    <h1>
      <a href="/"></a>
      <span class="text">쁘띠시네</span>
    </h1>
    <div class="menus">
      <div id="gnb">
        <nav>
          <ul>
            <li><a href="sub">영화</a></li>
            <li><a href="movieFom">영화관</a></li>
            <li><a href="Notice"">공지/이벤트</a></li>
            <li><a href="">간편예매</a></li>
            <li><a href="">상영시간표</a></li>
          </ul>
        </nav>
      </div>
      <div class="right_m">
        <a href="login">로그인 </a>
        <a href="join">회원가입</a>
      </div>
    </div>
  </div>
</div>
