<body>
  <section class="main">
    <div class="silde">
      <!-- Swiper -->
      <div class="swiper swiper-container mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href=""> <img src="./img/main_1.png" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a href=""> <img src="./img/main_22.png" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a href=""> <img src="./img/main_33.png" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="contorl">
    <ul>
      <li class="swiper-button-next"></li>
      <div class="swiper-pagination1"></div>
      <div class="btn">
        <btn type="button" class="start" style="display: none"></btn>
        <btn type="button" class="stop" style="display: inline-block"></btn>
      </div>
      <li class="swiper-button-prev"></li>
      <!-- ? -->
      <div class="pagination_container">
        <li class="swiper-pagination"></li>
        <li class="swiper-paginationTo"></li>
      </div>
    </ul>
  </div>
  <!-- ////////////////////////////////////// -->

  <!-- ////////일반영화 TOP10//////////////////////////////////////// -->
  <div id="warp">
    <!-- 메인 1440px -->
    <div class="main_two">
      <h2 class="h2">
        일반영화 TOP 10
        <a href="#" class="plus_btn"></a>
      </h2>
      <div class="TOP_10">
        <div #swiperRef="" class="swiper_two">
          <div class="swiper-wrapper bar_wrapper">
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar1.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank1"></span>
                </div>

                <div class="info">
                  <a class="subj" href="">인생은 아름다워</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>13.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar2.jpg" alt="" />
                  <span class="target">
                    <i class="age15"></i>
                  </span>
                  <span class="rank rank2"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">헤어질결심</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>11.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar3.jpg" alt="" />
                  <span class="target">
                    <i class="age15"></i>
                  </span>
                  <span class="rank rank3"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">데시벨</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>10.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar4.jpg" alt="" />
                  <span class="target">
                    <i class="age15"></i>
                  </span>
                  <span class="rank rank4"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">스크린 우먼 파이팅</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>8.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar5.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank5"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">대무가</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>8.15%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar6.jpg" alt="" />
                  <span class="target">
                    <i class="age15"></i>
                  </span>
                  <span class="rank rank6"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">물방울을 그리는 남자</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>6.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar7.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank7"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">성적표의 김민영</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>5.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar8.jpg" alt="" />
                  <span class="target">
                    <i class="age15"></i>
                  </span>
                  <span class="rank rank8"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">성덕</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>4.15%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar9.jpg" alt="" />
                  <span class="target">
                    <i class="age15"></i>
                  </span>
                  <span class="rank rank9"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">사랑할땐 누구나 최악이 된다</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>4.02%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar10.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank10"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">티켓 투 파라다이스</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>3.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main_bar_contorl">
        <div class="swiper_button_prev"></div>
        <div class="swiper_button_next"></div>
      </div>
    </div>
    <!-- //////////////////////////////////////// -->

    <!-- 독립영화 TOP10///////////////////////////////////////////////////// -->
    <div class="main_thr">
      <h2 class="h2">
        독립·예술영화 TOP10
        <a href="#" class="plus_btn"></a>
      </h2>
      <div class="TOP_10_two">
        <div class="swiper_thr">
          <div class="swiper-wrapper bars_wrapper">
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar_1.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank1"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">코다</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>11.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar_2.jpg" alt="" />
                  <span class="target">
                    <i class="age15"></i>
                  </span>
                  <span class="rank rank2"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">탑</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>10.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar_3.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank3"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">증인</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>9.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar_4.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank4"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">헬 카운트</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>7.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar_5.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank5"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">같은 속옷을 입는 두여자</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>13.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar_6.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank6"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">씨네마 천국</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>13.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar_7.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank7"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">아네트</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>4.13%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar_8.jpg" alt="" />
                  <span class="target">
                    <i class="age15"></i>
                  </span>
                  <span class="rank rank8"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">겨울 이야기</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>4.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar_9.jpg" alt="" />
                  <span class="target">
                    <i class="age12"></i>
                  </span>
                  <span class="rank rank9"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">GAGARINE</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>3.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide bar">
              <div class="item">
                <div class="img">
                  <img src="img/bar_10.jpg" alt="" />
                  <span class="target">
                    <i class="age15"></i>
                  </span>
                  <span class="rank rank10"></span>
                </div>
                <div class="info">
                  <a class="subj" href="">타오르는 여인의 초상</a>
                  <div class="rate">
                    <span>예매율</span>
                    <strong>2.25%</strong>
                  </div>
                </div>
                <div class="movie_info">
                  <a class="a1" href="">영화정보</a>
                  <a class="a2" href="">예매하기 </a>
                </div>
              </div>
            </div>
          </div>
          <div class="main_bar_contorl">
            <div class="swiper-button-nextd"></div>
            <div class="swiper-button-prevd"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="js/myporject.js"></script>
</body>
