<h1></h1>
<form method="post" action="/writeMemo">
  <label>제목</label>
  <input type="text" name="title" />
  <div>
    <textarea name="content" cols="100" rows="10"></textarea>
  </div>

  <input type="text" name="name" />

  <input type="password" name="pw" />

  <p><input type="submit" value="go" /></p>
</form>
